@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#DDE1D4;
  padding:15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  margin:0 auto;
}


.grid {
    display: grid;
    grid-template-rows: repeat(4, 25vh);
    grid-template-columns : repeat(4, 25%);

    grid-template-areas: 
    "white white green green"
    "white white green green"
    "orange orange pink purple"
    "orange orange yellow pink2"
    ;

    font-size: 8vh;
    font-family: Cantarell;
}

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAE7DE;
    color: #F2450B;
    grid-area: white;
}

.green  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #228969;
    color: white;
    grid-area: green;
}

.orange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2450B;
    color: white;
    grid-area: orange;
}



.pink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7ABC5;
    color: #F2450B;
    grid-area: pink;

    font-size: 4vh;
}

.purple {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F5FA9;
    color: white;
    grid-area: purple;

    font-size: 4vh;
}

.yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEC127;
    color: #F2450B;
    grid-area: yellow;

    font-size: 4vh;
}

.pink2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F97373;
    color: white;
    grid-area: pink2;

    font-size: 4vh;
}